.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}
.navbar{
  width: 100%;
  height: 50px;
  background-color: #1B1B1B;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar .links{
  display: flex;
  text-align: center;        
  margin-right: 50px;

}
.links a {
  color:white;
  font-weight: bold;
  text-decoration: none;
  margin: 20px;
}
.links a:hover{
  text-decoration: underline;
}

.navbar .user{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.user p{
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px;
  color:rgb(255, 255, 255);
}

.user img{
  font-size: 35px;
  border-radius: 50%;
}

form{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: 350px;
  padding: 30px 20px;
  border-radius: 7px;
  background-color: #262626;
}

.create-post input{
  margin: 30px;
  width:60%;
}

input, textarea{
  padding: 8px 10px;
  margin: 3px 8px 16px 8px;
  font-family: 'Quicksand', sans-serif;
  background-color: white;
  border: 0 transparent;
  border-radius: 5px;
  color: white;
  background-color: #2F2F2F;
  font-size: 15px;
  z-index: 1;
}

#submit-button{
  background-color: rgb(210, 110, 9);
  color:white;
}
#submit-button:hover{
  background-color: white;
  color:rgb(243, 125, 8);
  cursor: pointer;
}

textarea{
  height: 150px;
  width:220px;
}